body{
    background-color: rgb(226, 236, 235);
    text-align: center;
    color: rgb(15, 15, 15);
}

h1{
    font-size: 150px;
}

button{
    font-size: 50px;
    border-radius:15px;
    margin:10px;

}
#increment{
    padding: 12px;
    background-color:aqua;
    border:none;

}
#increment:hover{
    background-color: aquamarine;
}

#decrement{
    padding: 12px;
    background-color:rgb(233, 9, 9);
    border:none;

}

#decrement:hover{
    background-color: rgb(206, 115, 115);
}